.main-nav
    ul.sections
      li: a(href="#design") Design
      li: a(href="#code") Code
      li: a(href="#code") About
      li: a(href="mailto:anachen516@gmail.com") Contact
    ul.social
        li: a(class="dribbble" href="#") Dribbble
        li: a(class="codepen" href="#") CodePen
        li: a(class="linkedin" href="#") LinkedIn
header    
  .header-wrap
    a( href="#" class="back-to-top" alt="Back To Top")

    h1.logo Ana Chen

    .nav-toggle: span



